@use "../helper/variables";


@each $font-weight in (400, 700) {
	@each $font-style in (normal, italic) {
		@font-face {
			font-family: variables.$font-name;
			font-style: $font-style;
			font-weight: $font-weight;
			font-display: fallback;
			src: local(""),
			url("../../font/fira-sans-v16-latin-#{$font-weight}-#{$font-style}.woff2") format("woff2"),
			url("../../font/fira-sans-v16-latin-#{$font-weight}-#{$font-style}.woff") format("woff");
		}
	}
}
